#find {
    border-radius: 30px; /* Curve of border corners */
    border-color: rgb(17,155,157);
    padding: 5px 47px 5px 47px;
    color: rgb(17,155,157);
    font-weight: bold;
    margin-top: 20px;
}

#plus {
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    background-color: rgb(0,209,178);
    color: white;
    font-size: 30px;
}

#create {
    padding: 5px 30px 5px 30px;
    background-color: rgb(43,120,228);
    color: white;
    font-size: 14pt;
    box-shadow: 4px 4px 0px black;
    border: 2px black solid;
}    

input {
    margin-bottom: 10px;
    margin-left: 50px;
    display: block;
}